.Footer{
    width: 100vw;
    
    .Top {
        padding: 2em;
        max-width: 1000px;
        border-top: 3px dashed black;
        width: 100vw;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        >div{
            width: 50%;
        }
        .philosophy{
            // color: white;
            *:not(ol){
                background-color: white;
                padding: .5em;
                display: inline-block;

            }
            ol{
                padding: 0;
            }
            li{
                display: list-item;
            }
            h2{
                margin: 0;
            }
        }
        .links{

            display: flex;
            justify-content: center;
            height: auto;

            a{
                color: black;
                background-color: white;
                padding: .5em;
                margin: 5px;
                display: inline-block;
                &:hover{
                    color: white;
                    background-color: black;
                }
            }
        }
        
        
    }
    .Bottom{
        max-width: 1000px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a{
            color: black;
        }
    }
}